.chat-main
  .chat-main__header
    .chat-main__header__left-box
      %h2.chat-main__header__left-box__current-group 
        = @group.name
      %ul.chat-main__header__left-box__member-list
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group) do
      .chat-main__header__edit-btn Edit
  .chat-main__messages
    = render @messages 
    -# .chat-main__chat-main___message  
    -#   .chat-main__messages__message__upper-info
    -#     %p.chat-main__messages__message__upper-info__talker jjjj
    -#     %p.chat-main__messages__message__upper-info__date 2020/05/23(Sat) 18:42:56
    -#   %p.chat-main__messages__message__text yoroshiky
    -# .chat-main__messages__message  
    -#   .chat-main__messages__message__upper-info
    -#     %p.chat-main__messages__message__upper-info__talker jjjj
    -#     %p.chat-main__messages__message__upper-info__date 2020/05/23(Sat) 18:42:56
    -#   %p.chat-main__messages__message__text yoroshiky
    
   
  .chat-main__form
    = form_for [@group, @message] do |f|
      .inputbox
        = f.text_field :content, class: 'inputbox__text', placeholder: 'type a message'
        = f.label :image, class: 'inputbox__image' do
          = icon('fas', 'image', class: 'fa')
          = f.file_field :image, class: 'inputbox__image__file'
      = f.submit'Send', class: 'submit-btn'
